{% extends "layouts/base-auth.html" %}
{% load static %}

{% block content %}
<main class="main-content mt-0">
  <section class="min-vh-100 mb-8">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 my-3 border-radius-lg"
     style="background-image: url('{% static "assets/img/curved-images/curved14.jpg" %}');">
  <span class="mask bg-gradient-dark opacity-6"></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center mx-auto">
        <h1 class="text-white mb-2 mt-5">Bem-vindo ao Pressio</h1>
        <p class="text-lead text-white">Faça login ou crie uma nova conta gratuitamente.</p>
      </div>
    </div>
  </div>
</div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0 card-custom">
            <div class="card-header text-center pt-4">
              <h5>Cadastre-se com</h5>
            </div>
            <div class="row social-row px-xl-5 px-sm-4 px-3">
              <div class="col-auto px-1">
                <a href="javascript:;" class="btn btn-outline-light social-btn">
                  <!-- Facebook SVG (tamanho ajustado por CSS) -->
                  <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(3 3)" fill-rule="nonzero">
                      <circle fill="#3C5A9A" cx="29.509" cy="29.493" r="29.488"/>
                      <path fill="#FFFFFF" d="M39.097,9.056 L32.565,9.056 C28.689,9.056 24.377,10.686 24.377,16.305 C24.396,18.263 24.377,20.139 24.377,22.249 L19.892,22.249 L19.892,29.385 L24.516,29.385 L24.516,49.930 L33.011,49.930 L33.011,29.250 L38.619,29.250 L39.126,22.229 L32.865,22.229 C32.865,22.229 32.879,19.106 32.865,18.199 C32.865,15.978 35.176,16.105 35.314,16.105 C36.414,16.105 38.552,16.109 39.101,16.105 L39.101,9.056 Z"/>
                    </g>
                  </svg>
                </a>
              </div>
              <div class="col-auto px-1">
                <a href="javascript:;" class="btn btn-outline-light social-btn">
                  <!-- Apple SVG -->
                  <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(7 0.564551)" fill="#000000" fill-rule="nonzero">
                      <path d="M40.923,32.843 C41.008,42.074 48.912,45.146 49,45.185 C48.933,45.402 47.737,49.563 44.836,53.861 C42.327,57.577 39.724,61.279 35.623,61.356 C31.594,61.431 30.298,58.934 25.691,58.934 C21.086,58.934 19.646,61.279 15.832,61.431 C11.874,61.583 8.860,57.413 6.331,53.711 C1.163,46.137 -2.786,32.310 2.516,22.977 C5.151,18.342 9.859,15.407 14.968,15.331 C18.855,15.256 22.524,17.982 24.900,17.982 C27.275,17.982 31.733,14.704 36.420,15.185 C38.382,15.268 43.890,15.989 47.427,21.236 C47.142,21.415 40.855,25.125 40.923,32.843 Z M33.350,10.175 C35.452,7.597 36.866,4.007 36.480,0.435 C33.451,0.559 29.788,2.482 27.616,5.059 C25.669,7.341 23.963,10.993 24.423,14.494 C27.800,14.759 31.249,12.755 33.350,10.175 Z"/>
                    </g>
                  </svg>
                </a>
              </div>
              <div class="col-auto px-1">
                <a href="javascript:;" class="btn btn-outline-light social-btn">
                  <!-- Google SVG -->
                  <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(3 2)" fill-rule="nonzero">
                      <path fill="#4285F4" d="M57.812,30.152 C57.812,27.726 57.616,25.957 57.190,24.121 L29.496,24.121 L29.496,35.067 L45.752,35.067 C45.424,37.788 43.654,41.884 39.721,44.637 L39.666,45.004 L48.422,51.787 L49.029,51.848 C54.600,46.702 57.812,39.131 57.812,30.152 Z"/>
                      <path fill="#34A853" d="M29.496,58.992 C37.460,58.992 44.146,56.370 49.029,51.848 L39.721,44.637 C37.231,46.374 33.888,47.587 29.496,47.587 C21.696,47.587 15.076,42.442 12.716,35.330 L12.370,35.359 L3.265,42.405 L3.146,42.736 C7.997,52.372 17.960,58.992 29.496,58.992 Z"/>
                      <path fill="#FBBC05" d="M12.716,35.330 C12.093,33.494 11.733,31.528 11.733,29.496 C11.733,27.464 12.093,25.498 12.683,23.662 L12.667,23.272 L3.448,16.112 L3.146,16.255 C1.147,20.254 0,24.744 0,29.496 C0,34.248 1.147,38.738 3.146,42.736 L12.716,35.330 Z"/>
                      <path fill="#EB4335" d="M29.496,11.405 C35.035,11.405 38.771,13.798 40.901,15.797 L49.226,7.669 C44.113,2.917 37.460,0 29.496,0 C17.960,0 7.997,6.620 3.146,16.255 L12.683,23.662 C15.076,16.551 21.696,11.405 29.496,11.405 Z"/>
                    </g>
                  </svg>
                </a>
              </div>
            </div>

            <div class="card-body">
              <form role="form text-left" method="post" autocomplete="off">
                {% csrf_token %}
                {% for field in form %}
                  {% if field.name == "password2" %}
                    <div class="mb-3">
                      {{ field }}
                      <label for="{{ field.id_for_label }}" class="mt-1 fw-bold">Confirme a senha:</label>
                      <span class="d-block mt-1 text-danger">{{ field.errors }}</span>
                    </div>
                  {% elif field.name != "aceito_termos" %}
                    <div class="mb-3">
                      {{ field }} {{ field.label_tag }}
                      <span class="d-block mt-1 text-danger">{{ field.errors }}</span>
                    </div>
                  {% endif %}
                {% endfor %}

                <div class="mb-3 d-flex align-items-center">
                  <label class="custom-checkbox-label">
                    <input type="checkbox" name="aceito_termos" id="id_aceito_termos" required>
                    <span class="custom-checkbox"></span>
                    Eu aceito os <b>Termos e Condições</b>
                  </label>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Cadastrar</button>
                </div>
                <p class="text-sm mt-3 mb-0">
                  Já possui uma conta?
                  <a href="{% url 'login' %}" class="text-dark font-weight-bolder">Entrar</a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<style>
  /* 1 e 2) Largura mínima e máxima do cartão */
  .card-custom {
    min-width: 320px;
    max-width: 400px;
    margin: 0 auto;
  }
  /* 3) centraliza os quadradinhos dentro do cartão */
  .social-row {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  /* 4) garante tamanho fixo dos quadradinhos e centra SVG */
  .social-btn {
    width: 67px;   /* 48px * 1.4 */
    height: 67px;  /* 48px * 1.4 */
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* aumenta os ícones em 20% */
  .social-btn svg {
    width: 38px;   /* 32px * 1.2 */
    height: 38px;  /* 32px * 1.2 */
  }
</style>
{% endblock %}
